<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Apreciado usuario:  <%= @user.name %></h1>
    <p>
      Ha agendado correctamente una cita para la fecha: <%= @user.date %>.<br>
    </p>

    <h2> Recuerde:</h2>
    <ul>
      <li>Llevar sus documentos (carné estudiantíl, cedula)</li>
      <li>Llegar 20 minutos antes de su cita</li>
    </ul>

    <p></p>
    <p>MediUN</p>
  </body>
</html>
